@import "config";

body {
  font-family: $font-stack;
}

.navbar {
  &-bg {
    background-color: $primary-color;
    // height: 70px;
    padding: 15px;
  }

  h1 {
    font-weight: bolder;
    color: $secondary-color;
    padding: 20px;
    display: inline;
    font-size: 30px;
  }
  &-links {
    float: right;
    padding-top: 10px;
    .custom-nav-link {
      color: $secondary-color;
      font-size: 16px;
      font-weight: 600;
      margin: 1rem;

      &:hover {
        color: lighten($primary-color, 40%);
      }
    }
  }
}

//Register Page

.register {
  margin: 20px;

  .title-header {
    text-align: center;
    color: $primary-color;
    font-weight: 700;
  }
}

.form-layout {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .register_form {
    width: 400px;

    label {
      @extend %custom-label;
    }

    Button {
      @extend %custom-button;
    }
  }

  .login_form {
    width: 400px;

    label {
      @extend %custom-label;
    }

    Button {
      @extend %custom-button;
    }
  }
}
